# Build and Release Folders
WebContent/WEB-INF/classes

# Other files and folders

#ingore .metadata
.metadata

#ignore class file
*.class

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
